[Desktop Entry]
Name=Dark Smooth

Comment=Dark Smooth

X-KDE-PluginInfo-Author=Dark Smooth
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=Dark-Smooth
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=oxygen
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

